/*styles for my resume*/

/*css for my title*/
.title {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
  font-weight: 600;
  text-align: center; /*isn't working. Not sure why*/
  margin-top: 20px;
  margin: 0px;
}

body {

}

/*css for my name*/
/*this is the div class*/
.name {
  font-family: open sans-serif;
  color: #33485e;
  text-transform: uppercase;
  border-bottom: solid;
  border-width: 1px;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*css for sections*/
.sectionheader { /*when I added the .sectionheader naming here it erased the formatting
  for my "skills" h2 heading. Really weird cause it worked on everything
  else. But anyways, I changed it back.*/ /*sike got it to work*/
  font-size: 1.5em;
  font-weight: bold, 400;
  text-transform: uppercase;
  color: white;
  background-color: #33485e;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

/*css for my job titles*/ /*left as is*/
.jobtitle {
  font-size: 1.5em;
  font-weight: bold, 600;
}

/*css for my place of work*/
.organization {
  font-size: 1.25em;
}

/*css for dates*/
.date {
  font-weight: bold; 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin: 0px;
}

/*css for my unordered lists*/
.menu {
  font-size: 1em
  font-family: open sans-serif;
  margin: 0px;
  text-align: center;
  list-style-position: inside; /*not sure how to do this*/
}

.degrees {
  font-size: 1em;
  font-family: open sans-serif;
  margin-top: 5px;
  margin: 0px;
}

.do {
  font-size: 1em;
  font-family: open sans-serif;
  margin-top: 5px;
  margin: 0px;
}


/*css for the paragraphs*/
.description {
  font-family: open sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 0px;
}
